<div class="container">
    <div class="content">
        <p>Я профессиональный художник, руководитель студии рисования "ArtAge". Обладаю многолетним опытом создания уникальных картин на заказ.</p>
        <p>Моё творчество черпает вдохновение в природе, эмоциях и красоте окружающего мира.</p>
        <p>Моя цель - не только создавать произведения искусства, которые будут вдохновлять и радовать вас каждый день, 
            но и вовлекать других в этот волшебный мир, помогая им раскрыть свои творческие способности и находить радость в искусстве.</p>
        <p>Создаю картины на заказ и продаю готовые авторские работы. За все время я продал около 400 картин по всей России и за рубежом.</p>
        <p>Обучаю людей рисованию, занимаюсь репетиторством, провожу мастер-классы, художественные корпоративы и уроки рисования.</p>
    </div>
    <div class="image">
        <img src="images/filling/about.jpg" alt="Арт" style="width: 300px">
    </div>
</div>
<style>
    .container {
        display: flex;
        align-items: flex-start;
    }
    .content {
        flex: 1;
        margin-right: 20px;
        text-align: justify;
    }
    .image {
        flex: 0 0 auto;
    }
</style>
