@model LoginVM

<form method="post">
    <div class="text-center">
        <h3>Вход</h3>
        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
        <div>
            <div>
                <input class="input-field" placeholder="Логин" asp-for="UserName" />
                <span asp-validation-for="UserName"></span>
            </div>
            <div>
                <div class="input-field-wrapper">
                    <input id="password-input" class="input-field password" type="password" placeholder="Пароль" asp-for="Password" />
                    <a href="#" class="password-control" onclick="show_hide_password(this);"></a>
                </div>
                <span asp-validation-for="Password"></span>
            </div>
        </div>
        <div>
            <input type="checkbox" name="IsRemember" value="true" />
            <label>Запомнить</label>
        </div>
        <div>
            <div class="font-weight-bold" asp-validation-summary="All"></div>
        </div>
        <div>
            <div>
                <button class="btn btn-dark" style="width:300px" asp-controller="authorization" asp-action="login" type="submit">Войти</button>
            </div>
        </div>
        <div>
            <a asp-area="" asp-controller="Authorization" asp-action="Registration" asp-route-ReturnUrl="@Model.ReturnUrl">Регистрация нового пользователя</a>
        </div>
    </div>
</form>

<script>
    function show_hide_password(target){
    	var input = document.getElementById('password-input');
    	if (input.getAttribute('type') == 'password') {
    		target.classList.add('view');
    		input.setAttribute('type', 'text');
    	} else {
    		target.classList.remove('view');
    		input.setAttribute('type', 'password');
    	}
    	return false;
    }
</script>