@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<p>Все ваши данные защищены.</p>
<img src="https://avatars.dzeninfra.ru/get-zen_doc/1945957/pub_5fcd19b0702d845a13cf9e25_5fcd19d7788eda75c78ab6be/scale_1200" style="width: 25%; height: 25%" />