<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - powered by Yakovlev - <a asp-area="" asp-controller="Home" asp-action="Privacy">Конфиденциальность</a>
    </div>
</footer>