<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="row w-100">
                <div class="col-custom-20 d-flex align-items-center justify-content-center">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="/images/header/logo.png" alt="ArtAge Logo" style="height: 100px; width: auto;"/>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="col-custom-60 text-center">
                    <div class="row">
                        <div class="col-12">
                            <div class="header-text">ArtAge Studio</div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex flex-grow-1 justify-content-between">
                                <ul class="navbar-nav flex-grow-1 d-flex justify-content-between">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="About" asp-action="Index">Обо мне</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">Портфолио</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Shop" asp-action="Index">Магазин</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark">Услуги</a>
                                    </li>
                                    @if (User.IsInRole(Constants.AdminRoleName))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Order" asp-action="Index">
                                                <img src="/images/header/gear.svg"/>
                                                <span>ПУ</span>
                                            </a>
                                        </li>
                                    }
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li class="nav-item text-dark">
                                            <a id="navBarDropdownMenu" class="nav-link text-dark">
                                                @User.Identity.Name
                                            </a>
                                        </li>
                                        <li class="dropdown-item" aria-labelledby="navBarDropdownMenu">
                                            @* <a class="nav-link text-dark" asp-area="" asp-controller="Authorization" asp-action="Index">Личные данные</a> TODO *@
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Authorization" asp-action="Logout">Выйти</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Authorization" asp-action="Login">Войти</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-custom-20 d-flex align-items-center justify-content-center">
                    <a class="nav-link text-dark cartButton" asp-area="" asp-controller="Cart" asp-action="Index">
                        <img src="~/images/header/cart.svg" alt="Cart Icon" class="cart-icon"/>
                        <span>Корзина @await Component.InvokeAsync("Cart")</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>
<style>
    .col-custom-20 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    
    .col-custom-60 {
        flex: 0 0 60%;
        max-width: 60%;
    }
    
    .header-text {
        font-size: 64px;
        font-family: "BebasFont";
    }
    
    .navbar-nav .nav-item .nav-link {
        color: #5a5a5a;
        font-size: 16px;
    }
</style>