<div class="col-3">
    <div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a asp-area="Admin" asp-controller="Order" asp-action="Index" role="button">Заказы&nbspмагазин</a>
            </li>
            <li class="list-group-item">
                <a asp-area="Admin" asp-controller="PaintingOrder" asp-action="Index" role="button">Картины&nbspна&nbspзаказ</a>
            </li>
            <li class="list-group-item">
                <a asp-area="Admin" asp-controller="TutoringSessions" asp-action="Index" role="button">Записи&nbspпо&nbspуслугам</a>
            </li>
            <li class="list-group-item">
                <a asp-area="Admin" asp-controller="User" asp-action="Index" role="button">Пользователи</a>
            </li>
            <li class="list-group-item">
                <a asp-area="Admin" asp-controller="Role" asp-action="Index" role="button">Роли</a>
            </li>
            <li class="list-group-item">
                <a asp-area="Admin" asp-controller="Product" asp-action="Index" role="button">Товары</a>
            </li>
            <li class="list-group-item">
                <a asp-area="Admin" asp-controller="Painting" asp-action="Index" role="button">Портфолио</a>
            </li>
            <li class="list-group-item dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Финансы</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Finance" asp-action="Incomes">Доходы</a>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Finance" asp-action="Expenses">Расходы</a>
                </div>
            </li>
            <li class="list-group-item dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Статистика</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Statistic" asp-action="IncomeStatistics">Статистика доходов</a>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Statistic" asp-action="ExpenseStatistics">Статистика расходов</a>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Statistic" asp-action="IncomeExpenseBalance">Баланс доходов и расходов</a>
                </div>
            </li>
        </ul>
    </div>
</div>
