<div class="text-center">
    <h2 class="display-4">Перечень оказываемых услуг</h2>
</div>

<div class="row">
    <div class="col-md-3" style="margin-top: 10px">
        <div class="card shadow service-height">
            <img class="card-img-top service-image" src="images/services/paintingOrder.jpg" alt="Picture"/>
            <div class="card-body d-flex flex-column justify-content-between">
                <div>
                    <a style="color:black">
                        <h5>Картина на заказ</h5>
                    </a>
                    <h6 class="text-muted">Цена договорная</h6>
                </div>
                <div class="button-container d-flex flex-column">
                    <div>
                        <a class="btn btn-dark mt-2 w-100" asp-area="" asp-controller="PaintingOrder" asp-action="Index" role="button">Заказать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3" style="margin-top: 10px">
        <div class="card shadow service-height">
            <img class="card-img-top service-image" src="images/services/Tutoring.jpg" alt="Picture"/>
            <div class="card-body d-flex flex-column justify-content-between">
                <div>
                    <a style="color:black">
                        <h5>Репетиторство</h5>
                    </a>
                    <h6 class="text-muted">От 800 р.</h6>
                </div>
                <div class="button-container d-flex flex-column">
                    <div>
                        <a class="btn btn-dark mt-2 w-100" asp-area="" asp-controller="TutoringSessions" asp-action="Create" asp-route-Id="" role="button">Записаться</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3" style="margin-top: 10px">
        <div class="card shadow service-height">
            <img class="card-img-top service-image" src="images/services/individualMasterclass.jpg" alt="Picture"/>
            <div class="card-body d-flex flex-column justify-content-between">
                <div>
                    <a style="color:black">
                        <h5>МК по рисованию</h5>
                    </a>
                    <h6 class="text-muted">1500 р.</h6>
                </div>
                <div class="button-container d-flex flex-column">
                    <div>
                        <a class="btn btn-dark mt-2 w-100" asp-area="" asp-controller="Cart" asp-action="Add" asp-route-Id="" role="button">Записаться</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3" style="margin-top: 10px">
        <div class="card shadow service-height">
            <img class="card-img-top service-image" src="images/services/tafting.jpg" alt="Picture"/>
            <div class="card-body d-flex flex-column justify-content-between">
                <div>
                    <a style="color:black">
                        <h5>МК по тафтингу</h5>
                    </a>
                    <h6 class="text-muted">3500 р.</h6>
                </div>
                <div class="button-container d-flex flex-column">
                    <div>
                        <a class="btn btn-dark mt-2 w-100" asp-area="" asp-controller="Cart" asp-action="Add" asp-route-Id="" role="button">Записаться</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3" style="margin-top: 10px">
        <div class="card shadow service-height">
            <img class="card-img-top service-image" src="images/services/artCorporative.jpg"/>
            <div class="card-body d-flex flex-column justify-content-between">
                <div>
                    <a style="color:black">
                        <h5>АРТ - корпоратив</h5>
                    </a>
                    <h6 class="text-muted">От 1200 р.</h6>
                </div>
                <div class="button-container d-flex flex-column">
                    <div>
                        <a class="btn btn-dark mt-2 w-100" asp-area="" asp-controller="Cart" asp-action="Add" asp-route-Id="" role="button">Заказать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>