/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/*MY CSS*/
/* Header */
.cartButton {
    background-color: rgb(255, 255, 255) !important;
    border-radius: 25px !important;
    border: 2px solid rgb(255,55,13) !important;
    padding: 8px 20px !important;
    font-size: 14px !important;
    text-decoration: none;
}
.cartButton:hover {
    text-decoration: none;
    color: #5a5a5a;
}

.cartButton .cart-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.input-field {
    display: flex;
    width: 400px;
    margin: 10px auto 10px auto;
    padding: 0.5rem 1.00rem;
    color: #495057;
    background-color: #fff;
    border: 1px solid #80bdff;
    border-radius: 0.25rem;
}

.input-field.password {
    width: 100%;
    margin: 0;
}

.input-field-wrapper {
    position: relative;
    width: 400px;
    margin: 10px auto 10px auto;
}

.password-control {
    position: absolute;
    top: 11px;
    right: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/viewPassword/view.svg) 0 0 no-repeat;
}

.password-control.view {
    background: url(../images/viewPassword/no-view.svg) 0 0 no-repeat;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.card-height {
    height: 450px; 
    overflow: hidden;
}

.product-image {
    width: 90%;
    height: 200px;
    object-fit: cover; /* Масштабирование изображения, сохраняя его пропорции */
    display: block;
    margin: 10px auto;
}
/* Портфолио */
.portfolio-height {
    width: 350px;
    height: 400px;
    overflow: hidden;
}

.portfolio-image {
    width: 90%;
    height: 300px;
    object-fit: cover; /* Масштабирование изображения, сохраняя его пропорции */
    display: block;
    margin: 10px auto;
}
/* Услуги */
.service-height {
    height: 400px;
    overflow: hidden;
}

.service-image {
    width: 90%;
    height: 200px;
    object-fit: cover; /* Масштабирование изображения, сохраняя его пропорции */
    display: block;
    margin: 10px auto;
}
/* Fonts */
@font-face {
    font-family: "BebasFont";
    src: url("../fonts/Bebas.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
} 